*{
	padding:0px;
	margin:0px;
}
body{
	font-family: 'Mulish', sans-serif;
	font-size: 14px;
	line-height: 24px;
	/* this is for overflow whitspace problem reduce*/
	width: 100%;
    height: 100%;
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}
a,a:hover{
	text-decoration: none;
}

/* Orion project code start*/
.header{
  width: 100%;
}
.header .header_top{
  width: 100%;
  background: url(../images/Top_bar_bg.png)center top no-repeat;
  background-size:cover;
        padding: 5px;
}
.header .header_top .location{
   width: 100%;
   color: white;
    font-size: 13px;
    font-weight: 700; 
}
.header .header_top .location .mycolor{
	color: #c20505;
    padding-right: 5px;
}

.header .header_top .phone_and_email{
 width: 100%;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}
.header .header_top .phone_and_email .fa{
       color: #c20505;
       text-align: right;
    padding-right: 4px;

}
.header .header_top .phone_and_email .fa-envelope{
	margin-left: 10px;
}
.header .header_top .social_media{
	text-align: center;
    font-size: 14px;
    color: white;
    padding-left: 8px;
}
.header .header_top .social_media .fa{
       padding-right: 9px;
}

.header .header_top .social_media .fa:hover{
    color: Black;
    font-size: 15px;
}


.header_main .main-menu-section .bg-light{
	background: transparent !important;
}

.header_main{
	width: 100%;
	background: url(../images/background_banner.png) center top no-repeat;
	background-size: cover;
	
}
.header_main .navbar-light .navbar-nav .active>.nav-link {
    color: #fffefe;
    background:url(../images/mh.png) center bottom no-repeat;
  
}
.main-menu-section .navbar-brand img{
	    width: 232px;
    margin-left: -16px;
}
.header_main .navbar-light .navbar-nav .nav-link {
    color: #fffefe;
    margin: 0px 0px 0px 18px;
}

.header_main .navbar-light .navbar-nav .nav-link:hover {
      color: #fffefe;
      
    background:url(../images/nav_menu_hover_effect.png) center top no-repeat;
}

/* banner content section*/
.header_main .banner_content_section{
    width: 100%;
    text-align: center;
    padding-top: 211px;
    padding-bottom: 92px;
}
.header_main .banner_content_section .title_text{
	
}
.header_main .banner_content_section .title_text h5{
	color: white;
    font-size: 63px;
    font-weight: 300;
    text-transform: uppercase;
}
.header_main .banner_content_section .title_text h2{
	color: white;
    font-size: 32px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 300;
}
.header_main .banner_content_section .banner-btn .btn{
  color: white;
    background: #c20505;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
    transition: 1s;
}
.header_main .banner_content_section .banner-btn .btn:hover{
	color: #c20505;
    background: white;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;

}

/* safety shop section start */
.safety_shop{
       width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 81px;
    padding-right: 50px;

}
.safety_shop .safety_shop_picture{
    width: 100%;
}
.safety_shop .safety_shop_picture img{
	    width: 68%;
    margin-left: 83px;

}
.safety_shop .safety_shop_content{
	
}
.safety_shop .safety_shop_content .safety_shop_content_title_text{
	
}
.safety_shop .safety_shop_content .safety_shop_content_title_text h2{
	color: #404040;
    font-size: 30px;
    font-weight: 400;
}
.safety_shop .safety_shop_content .safety_shop_content_title_text p{
	color: #bbbbbb;
    font-size: 16px;
    text-align: justify;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 16px;
}
.safety_shop .safety_shop_content .safety_shop_content_btn .learn_more{
   color: white;
    background: #c20505;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
    transition: 1s;
}
.safety_shop .safety_shop_content .safety_shop_content_btn .learn_more:hover{
   color: #c20505;
    background: white;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
}
.safety_shop .safety_shop_content .safety_shop_content_btn .get_in_touch{
   color: #c20505;
    background: white;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
    margin-left: 11px;
    transition: 1s;
}
.safety_shop .safety_shop_content .safety_shop_content_btn .get_in_touch:hover{
    color: white;
    background: #c20505;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
}
/* safety shop section end */

/*Quick Link Section start*/
.quick_link{
  width: 100%;
}
.quick_link .zero{
	padding: 0px;
}
.quick_link .sales{
	width: 100%;
	background:url(../images/quick_link_sales_bg.png) center top no-repeat;
}
.quick_link .sales .inner_section{
	text-align: center;
    padding: 57px;
}
.quick_link .services .inner_section{
	text-align: center;
    padding: 53px;
}

.quick_link .sales .inner_section .icon-box{
	
}

.quick_link .sales .inner_section h4,.quick_link .rentals .inner_section h4,.quick_link .services .inner_section h4{
	color: white;
    margin-top: 18px;
    font-size: 30px;
    font-weight: 300;
}

.quick_link .sales .inner_section p,.quick_link .rentals .inner_section p,.quick_link .services .inner_section p{
	color: white;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 1px;
    font-weight: 300;
}
/*rentals*/
.quick_link .rentals{
	width: 100%;
	background:url(../images/quick_link_rental_bg.png) center top no-repeat;
}

.quick_link .rentals .inner_section{
	text-align: center;
    padding: 53px;
	    padding-top: 26px;
}

.quick_link .rentals .inner_section .icon-box{
	
}

.quick_link .rentals .inner_section h4{
	
}

.quick_link .rentals .inner_section p{
	
}
/*services*/
.quick_link .services{
	width: 100%;
	background:url(../images/quick_link_service_bg.png) center top no-repeat;
}

.quick_link .services .inner_section{
	
}

.quick_link .services .inner_section .icon-box{
	
}

.quick_link .services .inner_section h4{
	
}

.quick_link .services .inner_section p{
	
}
/*Quick Link Section end*/

/*Certification and Calibration section start*/
.certification_calibration_section{
   width: 100%;
   padding:80px 0px;
}
.certification_calibration_section .certification_section{
	width: 100%;
    padding: 46px;
    text-align: center;
}
.certification_calibration_section .certification_section .card,.certification_calibration_section .calibration_section .card{
	border:0px !important;
	
}
.certification_calibration_section .certification_section .card-body .card-title{
	    color: #404040;
    margin-top: 17px;
    font-size: 29px;
    font-weight: 900;
    margin-bottom: 17px;
}
.certification_calibration_section .certification_section .card-body .card-text{
	    color: #707070;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 28px;
    padding: 4px;
    text-align: center;
}
.certification_calibration_section .certification_section .card-body .btn{
	color: white;
    background: #c20505;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
    transition: 1s;
}
.certification_calibration_section .certification_section .card-body .btn:hover{
	color: #c20505;
    background: white;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
}
/*calibration*/

.certification_calibration_section .calibration_section{
	width: 100%;
    padding: 46px;
    text-align: center;
}
.certification_calibration_section .calibration_section .card{
	border:0px !important;
	
}
.certification_calibration_section .calibration_section .card-body .card-title{
	    color: #404040;
    margin-top: 17px;
    font-size: 29px;
    font-weight: 900;
    margin-bottom: 17px;
}
.certification_calibration_section .calibration_section .card-body .card-text{
	    color: #707070;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 28px;
    padding: 4px;
    text-align: center;
}
.certification_calibration_section .calibration_section .card-body .btn{
	color: white;
    background: #c20505;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
    transition: 1s;
}
.certification_calibration_section .calibration_section .card-body .btn:hover{
	color: #c20505;
    background: white;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
}
/*Certification and Calibration section end*/

/*product slider section start*/
.product_slider{
  width: 100%;
  padding-top: 80px;
  background: url(../images/product_section_bg.png)center top no-repeat;
  background-size:cover;

}
.product_slider .title_text{
	width: 100%;
   text-align: center;
    padding-left: 116px;
   writing-mode: vertical-lr;
}
.product_slider .title_text h5{
  color: white;
    font-size: 58px;
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(180deg);
}
.product_slider .title_text h2{
  color: white;
    font-size: 32px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 300;
    transform: rotate(180deg);
}

.product_slider .product_slider_main{
      width: 100%;
    text-align: center;
}

.product_slider .product_slider_main img{
  width: 78%;
}
.product_slider .product_slider_main h3{
  color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 26px 2px 9px 9px;
    margin: 13px 2px 5px 8px;
}
.product_slider .product_slider_main p{
       color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 0px 22px 2px;
    margin: 9px 2px 5px 6px;
    line-height: 20px;
}

.product_slider .view_more_button{
  width: 100%;
  padding-top: 20px;
  text-align: right;
}
.product_slider .view_more_button .btn{
    color: white;
    background: #c20505;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
    transition: 1s;
}
.product_slider .view_more_button .btn:hover{
    color: #c20505;
    background: white;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
}
/*product slider section end*/

/* protection_section section start */
.protection_section{
       width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 81px;
    padding-right: 50px;

}
.protection_section .protection_section_picture img{
	    width: 68%;
    margin-left: 52px;

}
.protection_section .protection_section_content{
	text-align: justify;
    padding-left: 50px;
}
.protection_section .protection_section_content .protection_section_content_title_text{
	
}
.protection_section .protection_section_content .protection_section_content_title_text h2{
	color: #404040;
    font-size: 30px;
    font-weight: 400;
}
.protection_section .protection_section_content .protection_section_content_title_text p{
	color: #bbbbbb;
    font-size: 16px;
    text-align: justify;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 16px;
}
.protection_section .protection_section_content .protection_section_content_btn{
	padding-top: 10px;
}
.protection_section .protection_section_content .protection_section_content_btn .learn_more{
   color: white;
    background: #c20505;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
    transition: 1s;
}
.protection_section .protection_section_content .protection_section_content_btn .learn_more:hover{
   color: #c20505;
    background: white;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
}
.protection_section .protection_section_content .protection_section_content_btn .get_in_touch{
   color: #c20505;
    background: white;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
    margin-left: 11px;
    transition: 1s;
}
.protection_section .protection_section_content .protection_section_content_btn .get_in_touch:hover{
    color: white;
    background: #c20505;
    border: #c20505;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    padding: 12px 25px;
    border-style: solid;
    border-width: 2px;
}
/* protection_section section end */

/*footer section start*/
.footer_section{
  width: 100%;
}
.footer_section .footer_top{
	 width: 100%;
	 background: url(../images/footer_bg.png)center top no-repeat;
   background-size:cover;
   padding: 49px 0px;
}
.footer_section .footer_top .footer_address{
	
}
.footer_section .footer_top .footer_address .list-group-item,.footer_section .footer_top .footer_timing .list-group-item{
	color: white;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
}
.footer_section .footer_top .footer_address .list-group-item span,.footer_section .footer_top .footer_timing .list-group-item span{
	font-weight: 900;
}
.footer_section .footer_top .footer_address .list-group-item .email_red{
	color: #c20505;
}
.footer_section .footer_top .footer_timing .fa{
	padding: 0px 6px;
    color: #c20505;
    font-size: 15px;
    transition: 1s;
}
.footer_section .footer_top .footer_timing .fa:hover{
	padding: 0px 6px;
    color: white;
    font-size: 15px;
}
.footer_section .footer_top .footer_logo{
   width: 100%;
    text-align: right;
}
.footer_section .footer_top .footer_logo img{
	width: 71%;
    padding-top: 32px;
}
.footer_bottom{
	width: 100%;
	background: black;
	padding:3px 0px;
}
.footer_bottom .powered_by{
   color: white;
   font-size: 14px;
   font-weight: 200;
}
.footer_bottom .theme_name{
	color: white;
   font-size: 14px;
   font-weight: 200;
   text-align: right;
}
/*footer section end*/



/* Orion project code end*/
